
body
{
	background-color: blanchedalmond;
	margin: 0px;
	padding: 0px;
}

h1 {
	color: red;
	font-stretch:0;
		font-size:40px;
    
}

h2 {
    color: deeppink;
    font-stretch:15%;
		font-size:1rem;
}

p {
	color:black;

}

@media screen and (max-width: 1024px) {
	h1{
		color: chartreuse;
		font-stretch:10%;
		font-size:3rem;
		line-height:1rem;
	}
	h2{
		color: cornflowerblue;
		font-stretch:25%;
		font-size:2rem;
		line-height:2rem;
	}
	p{
		color:ghostwhite;
		font-stretch:15%;
		font-size:1rem;
		line-height:3rem;
	}
}
@media screen and (max-width: 768px) {
	h1{
		color: hotpink;
		font-stretch:15%;
		font-size:4rem;
		line-height:1rem;
	}
	h2{
		color: honeydew;
		font-stretch:35%;
		font-size:5rem;
		line-height:2rem;
	}
	p{
		color:lavenderblush;
		font-stretch:50%;
		font-size:1rem;
		line-height:3rem;
	}
}
@media screen and (max-width: 600px) {
	h1{
		color: hotpink;
		font-stretch:15%;
		font-size:4rem;
		line-height:1rem;
	}
	h2{
		color: honeydew;
		font-stretch:35%;
		font-size:5rem;
		line-height:2rem;
	}
	p{
		color:lavenderblush;
		font-stretch:50%;
		font-size:1rem;
		line-height:3rem;
	}
}
@media screen and (max-width: 480px) {
	h1{
		color: hotpink;
		font-stretch:2%;
		font-size:8rem;
		line-height:3rem;
	}
	h2{
		color: honeydew;
		font-stretch:1%;
		font-size:2rem;
		line-height:1rem;
	}
	p{
		color:lavenderblush;
		font-stretch:5%;
		font-size:12em;
		line-height:6rem;
	}
}
@media screen and (max-width: 320px) {
	h1{
		color: hotpink;
		font-stretch:15%;
		font-size:5rem;
		line-height:8rem;
	}
	h2{
		color: honeydew;
		font-stretch:25%;
		font-size:8rem;
		line-height:1rem;
	}
	p{
		color:lavenderblush;
		font-stretch:20%;
		font-size:5rem;
		line-height:13rem;
	}
}

