
body
{
	background-color: blanchedalmond;
	margin: 0px;
	padding: 0px;
}

h1 {
	color: hotpink;
    
}

h2 {
    color: deeppink;
}

p {
	color:black;

}

@media screen and (max-width: 1024px){
	.h1{

	}
}
@media screen and (max-width: 768px) 
@media screen and (max-width: 600px) 
@media screen and (max-width: 480px) 
@media screen and (max-width: 320px){
	.h1{
		color: chartreuse;
		font-stretch:50%;
		font-size:3rem;


	}
	.h2{
		color: cornflowerblue;
		font-stretch:25%;
		font-size:2rem;


	}
	.p{
		color:ghostwhite;
		font-stretch:15%;
		font-size:1rem;

	}
}

