
body
{
	background-color: hotpink;
	margin: 0px;
	padding: 0px;
}

h1 {

    
}

h2 {
    
}

p {

}

@media screen and (max-width: 1024px){
	.h1{

	}
}
@media screen and (max-width: 768px) 
@media screen and (max-width: 600px) 
@media screen and (max-width: 480px) 
@media screen and (max-width: 320px){
	.h1{
		color: chartreuse;
		font-stretch:50%;
		font-size:3rem;


	}
	.h2{
		color: cornflowerblue;
		font-stretch:25%;

	}
	.p{
		color:ghostwhite;
		font-stretch:15%;


	}
}

